@import '../../settings.css';

.root {
  position: relative;

  height: 100vh;

  background-color: var(--charcoal);
}

.child {
  position: absolute;

  top: 50%;
  left: 50%;

  padding: var(--size-28);

  color: var(--gallery);
  cursor: pointer;

  font-family: var(--font-family-monospace);
  font-size: var(--size-112);

  transform: translate(-50%, -50%);
}
