.arrow {
  padding: var(--size-20);

  border: 10px solid var(--gallery);

  color: var(--gallery);
  cursor: pointer;

  font-family: var(--font-family-monospace);
  font-size: var(--size-112);
}

.arrow:not(:last-child) {
  margin-bottom: var(--size-28);
}
